<!DOCTYPE html>
<html>
<head>
  <title>SimpleStore</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<!-- Each view required by a controller is inserted into the layout where it says yield below -->
<%= yield %>

</body>
</html>
